/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-May-2021, 22:57:17
    Author     : alejandro
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'open sans';
}
head

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor-banner h1{
    margin: 50px 40px;
    color: darkblue;
    font-size: 50px;
    text-shadow: 2px 2px 2px blue;
}

.contenedor-banner{
    display: flex;
    background-color: rgba(255,165,0,0.6);
    background-image: url(imagenes/bannerImagen.png);
    background-attachment: fixed;
    justify-content: center
}

.imagen-salud{
    width: 8%;
}

.contenedor-descripcion{
   align-content: center;
}
.contenedor-descripcion h4{
    text-align: justify;
    margin-right: 20%;
    margin-left: 20%;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: buttonhighlight;
}
.contenedor-footer h4{
    margin: 5px 5px;
    font-size: 15px;
}
.imagen-logoU{
    width: 3%;
}
